.inputs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-size: 0.85rem;
}

.box {
  border-bottom: 1px solid black;
  display: flex;
  padding: 10px 20px 10px 10px;
  align-items: center;
}

.roundTop {
  border-radius: none;
}

.roundBottom {
  border: none;
}

.boxTitle {
  padding-left: 25px;
  width: 50px;
  padding-right: 20px;
  font-weight: 600;
}

.boxContent {
  font-style: italic;
  margin-right: auto;
}

.checkBoxContainer input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  justify-content: end;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--color-grey);
  margin-right: 5px;
  cursor: pointer;
}

.checkBoxContainer input[type='checkbox']:checked {
  background-color: var(--color-orange);
  position: relative;
}

.checkBoxContainer input[type='checkbox']::before {
  content: '\2713';
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 2px;
  top: -2px;
}
