.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yknotlogo {
  width: 55%;
}

.titleContainer {
  height: 100px;
}

.signInText {
  font-size: 40px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.inputField {
  width: 400px;
  height: 35px;
  font-size: 1.4rem;
  background-color: var(--color-grey);
  border-style: none;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 10px 25px 10px 25px;
  color: #393939;
}

.emailContainer {
  display: flex;
}

.passwordContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.passwordContainer input {
  width: 365px;
  padding-right: 60px;
}

.showPasswordButton {
  position: absolute;
  display: flex;
  margin-left: 85%;
  border: none;
  background: none;
  margin-left: 400px;
  cursor: pointer;
}

.showPasswordIcon {
  width: 25px;
}

.forgotPassword {
  color: var(--color-blue);
  font-size: 1rem;
  text-decoration: underline;
  align-self: flex-start;
  cursor: pointer;
  background: none;
  border: none;
}

.signInButton {
  margin-top: 15px;
  width: 280px;
  height: 45px;
  border-style: none;
  background-color: var(--color-orange);
  border-radius: 30px;
  font-size: 1.4rem;
  color: white;
}

.signInButton:hover {
  cursor: pointer;
  background: var(--color-yellow-orange);
}

.hideFailureMsg {
 display: None;
}

.showFailureMessage {
  color: var(--color-red);
  padding-top: 1%;
  font-size: 14px;
  width: 50%;
  text-align: center;
}
