.mainContainer {
  display: flex;
  flex-direction: column;
}

.topLevel {
  margin-top: 1%;
}

.noteButton {
  margin-left: 10%;
  border-radius: 13px;
  border: none;
  background-color: var(--color-orange);
}

.noteButton:hover {
  cursor: pointer;
  background-color: var(--color-yellow-orange);
}

.noteIcon {
  width: 23px;
  padding: 10px 12px 8px 12px;
}

.selection {
  float: right;
  width: 170px;
  margin-right: 10%;
  height: 25px;
}

.noStudent {
  padding-top: 10px;
  text-align: center;
}

.inputs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

.box {
  border-bottom: 1px solid black;
  display: flex;
  padding: 10px 40px 10px 10px;
  justify-content: space-between;
  align-items: center;
}

.roundTop {
  border-radius: none;
}

.roundBottom {
  border: none;
}

.boxTitle {
  padding-left: 25px;
}

.bottomLevel {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 30px;
}

.bottomButton {
  width: 150px;
  height: 40px;
  background: var(--color-orange);
  color: white;
  border-radius: 30px;
  font-size: 1.05rem;
  border: none;
}

.bottomButton:hover {
  cursor: pointer;
  background: var(--color-yellow-orange);
}

/* Checkbox & label css*/
.icons {
  width: 15%;
  display: flex;
  margin-left: 50%;
}

/* customized checkbox css*/
.checkboxContainer {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 3px solid black;
  border-radius: 2px;
}

.checkboxContainer:hover input ~ .checkmark {
  cursor: pointer;
  background-color: #ccc;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: black;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: flex;
}

.checkboxContainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.statusLabel {
  padding-left: 20%;
}

@media screen and (max-width: 1150px) {
  .bottomLevel {
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    gap: 0.75rem 5%;
  }
}

@media screen and (max-width: 900px) {
  .box {
    padding-right: 110px;
  }
}
