@import-normalize; /* Reset Stylesheet */
@import './fonts/poppins/poppins.css';

:root {
  --color-red: #d00110;
  --color-green: #5a9447;
  --color-blue: #2613b6;
  --color-orange: #e3853a;
  --color-yellow: #fbe555;
  --color-pastel-red: #ffc0c0;
  --color-pastel-green: #c9ffc0;
  --color-pastel-blue: #c0f0ff;
  --color-pastel-orange: #ffc89d;
  --color-pastel-yellow: #feffc0;
  --color-grey: #d9d9d9;
  --color-teal: #13a2b6;
  --color-yellow-orange: #e3b43a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
