.container {
  width: 275px;
  height: 215px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #00000040;
}

.background {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 15px;
  justify-content: center;
  color: white;
  gap: 10%;
}

.course {
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
}

.section {
  font-style: italic;
}

.description {
  padding: 15px;
  height: 50%;
  color: black;
  word-wrap: break-word;
}

@media screen and (max-width: 600px) {
  .container {
    width: 80vw;
    height: 12rem;
    margin-left: 0;
    margin-right: 0;
  }
}
