.loadingContainer {
  margin-top: 15px;
}

.studentsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

.noStudent {
  padding-top: 50px;
  text-align: center;
}

.box {
  border-bottom: 1px solid #000000;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.roundTop {
  border-radius: none;
}

.roundBottom {
  border: none;
}

.studentName {
  margin-left: 25px;
}

.studentEmail p {
  font-weight: 500;
  font-style: italic;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.75);
  gap: 25px;
}
