.loading {
  width: 100%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPane {
  float: right;
  height: 100%;
  width: calc(100% - 250px);
}

.message {
  width: 100%;
  margin-top: 250px;
  text-align: center;
}

.searchContainer {
  margin: 30px auto 40px 100px;
}

.searchBar {
  width: 250px;
  height: 25px;
  padding: 10px 10px 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--color-grey);
}

.courseHeader {
  display: flex;
  width: 100%;
  align-items: center;
}

.courseStatus {
  margin: 10px auto 30px 10%;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.addCourse {
  border-radius: 30px;
  border: none;
  background-color: var(--color-orange);
  font-size: 1.05rem;
  width: 150px;
  height: 40px;
  color: white;
  cursor: pointer;
  justify-content: flex-start;
  margin-right: 19vh;
  float:right;
 
}

.addCourse:hover {
  background-color: var(--color-yellow-orange);
}

.cardLayout {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  justify-content: flex-start;
}

.card {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
    .rightPane {
        width: 100%;
        position: absolute;
        top: 80px;
    }
}