.rightPane {
  float: right;
  height: 100%;
  width: calc(100% - 250px);
}

.searchContainer {
  margin: 30px auto 40px 100px;
}

.searchBar {
  width: 250px;
  height: 25px;
  padding: 10px 10px 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: lightgrey;
}

.courseStatus {
  margin: 10px auto 30px 100px;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.cardLayout {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}
