.gridContainer {
  display: grid;
  grid-template-columns: 20% 80%;
}

.rightPane {
  height: 100%;
  width: 95%;
  /* overflow-x: hidden; */
  padding-left: 5%;
}

.courseStatus {
  margin-bottom: 50px;
  margin-top: 10px;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.cardLayout {
  display: flex;
  flex-wrap: wrap;
}
