.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.introCard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-height: 420px;
  height: auto;
}

.introHeader {
  display: flex;
  align-items: center;
}

.introHeader p {
  margin-left: 20px;
  font-size: 1.25rem;
  font-weight: 400;
}

.introButtons {
  margin-left: auto;
  margin-right: 20px;
}

.introContent {
  height: 300px;
  margin-bottom: 30px;
}

.deleteButton,
.editButton,
.uploadButton {
  background: none;
  border: none;
  padding: 0px;
  height: 32px;
  font-size: 2rem;
  cursor: pointer;
}

.uploadButton {
  margin-right: 10px;
}

.icon {
  width: 25px;
}

.icon:hover {
  width: 25px;
  filter: brightness(0) saturate(100%) invert(72%) sepia(14%) saturate(6705%)
    hue-rotate(334deg) brightness(94%) contrast(89%);
}

.uploadIcon {
  width: 22px;
}

.uploadIcon:hover {
  width: 22px;
}

.introText {
  margin: 0 15px 15px 15px;
  padding: 10px;
  max-width: 100%;
  width: 93%;
  height: 100%;
  color: #838383;
  overflow-y: auto;
  resize: none;
  font-family: 'sans-serif';
}

.editing {
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  word-break: break-word;
  height: 100%;
}

.buttons {
  display: inline-flex;
  float: right;
  gap: 15px;
}

.certificate,
.email {
  background-color: var(--color-orange);
  border: none;
  border-radius: 15px;
  width: 65px;
  height: 50px;
  margin-bottom: 30px;
  cursor: pointer;
}

.certificate:hover,
.email:hover {
  background-color: var(--color-yellow-orange);
}

.certificateIcon {
  height: 65%;
}

.emailIcon {
  height: 45%;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

.containerLines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px var(--color-grey);
  border-radius: 10px;
  height: 45px;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.informationText {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  text-decoration: none;
}

.informationText:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .introText {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .introText {
    width: 85%;
  }
}
