.pageContainer {
  display: flex;
  align-items: center;
}

.splitleft {
  height: 100%;
  display: inline-block;
  overflow: hidden;
  width: 50%;
}

.leftPane {
  margin: 0px 0px 0px -150px;
  height: 100vh;
}

.splitright {
  height: 100%;
  width: 50%;
  flex-grow: 1;
  z-index: 2;
  top: 0;
  overflow-x: hidden;
}

.banner {
  height: 100vh;
}

@media screen and (max-width: 950px) {
  .leftPane {
    width: 0;
    height: 100vh;
  }

  .splitleft {
    width: 0;
  }

  .splitright {
    width: 100%;
  }
}
