@import '../../index.css';

.splitleft {
  height: 100%;
  width: 60%;
  overflow: hidden;
}

.splitright {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 2;
  top: 0;
  overflow-x: hidden;
  padding-left: 40%;
}

.leftPane {
  margin: 0px 0px 0px -150px;
  align-items: left;
  left: 0;
}

.rightPane {
  align-items: right;
  padding-left: 40%;
  right: 0;
}
