.loadingContainer {
  margin-top: 15px;
}

.noStudent {
  padding-top: 50px;
  text-align: center;
}

.studentsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

.box {
  border-bottom: 1px solid black;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.roundTop {
  border-radius: none;
}

.roundBottom {
  border: none;
}

.studentName {
  margin-left: 25px;
}

.studentEmail p {
  font-weight: 500;
  font-style: italic;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.75);
  gap: 25px;
}

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.certificateIcon:hover {
  cursor: pointer;
  filter: invert(10%) sepia(83%) saturate(6663%) hue-rotate(253deg)
    brightness(76%) contrast(110%);
}

.profileIcon:hover {
  cursor: pointer;
  filter: invert(72%) sepia(14%) saturate(6705%) hue-rotate(334deg)
    brightness(94%) contrast(89%);
}

.trashIcon:hover {
  cursor: pointer;
  filter: invert(8%) sepia(100%) saturate(7043%) hue-rotate(352deg)
    brightness(87%) contrast(104%);
}

.bottomLevel {
  padding-top: 3%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.addButton {
  width: 150px;
  height: 40px;
  background: var(--color-orange);
  color: white;
  border-radius: 30px;
  font-size: 1.05rem;
  border: none;
}

.addButton:hover {
  background: var(--color-yellow-orange);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .studentsContainer {
    font-size: 14px;
    flex-grow: 0;
  }

  .box {
    padding: 5px;
  }

  .nameEmail {
    display: flex;
    flex-direction: column;
  }

  .studentName,
  .studentEmail {
    margin-left: 5%;
  }

  .studentName p {
    margin-bottom: 0;
  }

  .studentEmail p {
    margin-top: 0;
  }

  .certificateIcon {
    height: 35px;
  }

  .profileIcon,
  .trashIcon {
    height: 30px;
  }
}
