.mainContainer{

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;

}

.row{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.lastRow{
  display: flex;
  align-items: center;
}

.headerText{
  width: 40%;
  margin-left: 50px;
  padding: 10px;
  padding-left: 30px;
}
.courseInput{
  padding: 3px 5px 3px 5px;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 1px;
  width: 45%;
  height: 40px;
  border: 1px solid gray;
}
.formIDInput{
  padding: 3px 5px 3px 5px;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 1px;
  width: 45%;
  height: 40px;
  border: 1px solid gray;
}

.calendar{
  padding: 3px 5px 3px 5px;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 1px;
  width: 25%;
  height: 40px;
  
}


.buttonContainer{
  display: flex;
  flex-direction: row;
}

.yesLabel {
  margin-right: 20px;
  font-size: large;
}

.noLabel {
  font-size: large;
}

.button {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.button:checked {
  accent-color: black; /* Change this to your desired color */
}
