.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
/* .topContainer{
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
} */

/* .row{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
} */

/* .lastRow{
  display: flex;
  align-items: center;
}

.headerText{
  width: 40%;
  margin-left: 50px;
  padding: 10px;
  padding-left: 30px;
}
.courseInput{
  padding: 3px 5px 3px 5px;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 1px;
  width: 45%;
  height: 40px;
  border: 1px solid gray;
}
.formIDInput{
  padding: 3px 5px 3px 5px;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 1px;
  width: 45%;
  height: 40px;
  border: 1px solid gray;
}

.calendar{
  padding: 3px 5px 3px 5px;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 1px;
  width: 25%;
  height: 40px;

} */

/* .buttonContainer{
  display: flex;
  flex-direction: row;
}

.yesLabel {
  margin-right: 20px;
  font-size: large;
}

.noLabel {
  font-size: large;
} */

/* .button {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.button:checked {
  accent-color: black; 
} */

.bottomButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10%;
  margin-bottom: 30px;
}

.button {
  width: 4rem;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: var(--color-orange);
  cursor: pointer;
}

.button:hover {
  width: 4rem;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: var(--color-yellow-orange);
}

.icon {
  width: 2rem;
}

/* NEW STYLES */

.listBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto 30px auto;
}

.studentBox {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
  border-top: 1px solid black;
}

.studentBoxTop {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
}

.boxTitle {
  width: 40%;
  margin-left: 50px;
}

.boxText {
  /* padding: 0px 12px 0px 12px; */
  font-style: italic;
  font-weight: 500;
  width: 100%;
  display: flex;
  gap: 5px;
}

.headerContainer {
  margin-top: 30px;
}

.newClassHeader {
  width: 80%;
  margin: 0 auto 30px auto;
}

.inputBox {
  padding: 0px 12px 0px 12px;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 1px;
  min-width: 276px;
  height: 40px;
  border-color: black;
  border-style: solid;
}

.createCourseButton {
  width: 150px;
  height: 40px;
  background: var(--color-orange);
  border-radius: 30px;
  font-size: 17px;
  border: none;
  color: white;
  margin-left: 35%;
  cursor: pointer;
}

.createCourseButton:hover {
  background-color: var(--color-yellow-orange);
}

.cancelButton {
  width: 150px;
  height: 40px;
  border-style: solid;
  background: var(--color-white);
  border-color: black;
  border-radius: 30px;
  font-size: 17px;
  margin-left: 3%;
  cursor: pointer;
}

.radioButtonGroup {
  display: flex;
  flex-direction: row;
}

.yesLabel {
  margin-right: 20px;
  font-size: large;
}

.noLabel {
  font-size: large;
}

.radioButton {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.radioButton:checked {
  accent-color: black; /* Change this to your desired color */
}

.errorMessage {
  font-style: italic;
  font-weight: 500;
  font: 26;
  color: red;
  text-align: center;
  font-size: 0.8rem;
}

.inputContainer {
  width: 100%;
  display: flex;
  gap: 5px;
}
