.loadingContainer {
  height: 100vh;
  margin-left: 200px;
  width: calc(100% - 250px);
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  font: 26;
  color: red;
  text-align: center;
  font-size: 0.8rem;
}

.group {
  width: 100%;
  display: flex;
  gap: 5px;
}

.rightPane {
  margin-top: 100px;
  float: right;
  height: 100%;
  width: calc(100% - 250px);
}

.header {
  position: relative;
  width: 80%;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.title {
  position: absolute;
  text-align: center;
  width: 100%;
}

.secondTitle {
  text-align: center;
}

.topButtons {
  gap: 15px;
  position: absolute;
  right: 0;
  display: flex;
}

.button {
  width: 4rem;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
  background-color: var(--color-orange);
  cursor: pointer;
}

.button:hover {
  width: 4rem;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: var(--color-yellow-orange);
}

.icon {
  width: 2rem;
}

.inputs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.box {
  border-bottom: 1px solid black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomBox {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  width: 30%;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 20px;
}

.boxData {
  width: 70%;
  display: flex;
  font-style: italic;
  font-weight: 500;
  font-size: 1.25rem;
}

.nameInputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.inputBox {
  padding: 0px 12px 0px 12px;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 1px;
  width: 70%;
  height: 40px;
}

.coursesTitle {
  margin: 30px auto 30px 10%;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.courseList {
  display: flex;
  margin-left: 10%;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .rightPane,
  .loadingContainer {
    width: 100%;
    position: absolute;
    top: 80px;
  }
}
.card {
  text-decoration: none;
}
